[gd_scene load_steps=2 format=3 uid="uid://main"]

{% if language == 'csharp' %}
[ext_resource type="Script" path="res://scenes/Main.cs" id="1_main"]
{% else %}
[ext_resource type="Script" path="res://scenes/main.gd" id="1_main"]
{% endif %}

[node name="Main" type="Node2D"]
script = ExtResource("1_main")
